In [82]:
import pandas as pd

In [83]:
df = pd.read_csv('../data/raw/scraped_data.csv')

In [84]:
df.head()

,Date,Team_1,Team_2,T1_Score,T2_Score,T1_Sum,T1_BP,T1_Ratio,T1_Srv_Sum,T1_Srv_Err,...,T2_Rec_Pos,T2_Rec_Perf,T2_Att_Sum,T2_Att_Err,T2_Att_Blk,T2_Att_Kill,T2_Att_Kill_Perc,T2_Att_Eff,T2_Blk_Sum,T2_Blk_As
0,"01.10.2022, 14:45",Indykpol AZS Olsztyn,Grupa Azoty ZAKSA Kędzierzyn-Koźle,1,3,60.0,17.0,11.0,79.0,18,...,45%,26%,88,7,7,45,51%,35%,14,11
1,"30.09.2022, 17:30",Jastrzębski Węgiel,GKS Katowice,3,0,51.0,17.0,27.0,77.0,15,...,50%,20%,91,8,4,43,47%,34%,1,17
2,"01.10.2022, 20:30",LUK Lublin,Cerrad Enea Czarni Radom,2,3,76.0,23.0,35.0,109.0,16,...,47%,18%,128,10,10,63,49%,33%,10,13
3,"02.10.2022, 14:45",Aluron CMC Warta Zawiercie,PGE Skra Bełchatów,3,2,66.0,16.0,22.0,98.0,21,...,32%,9%,102,9,9,56,54%,37%,7,14
4,"03.10.2022, 17:30",BBTS Bielsko-Biała,Cuprum Lubin,1,3,63.0,22.0,17.0,100.0,19,...,45%,22%,109,7,8,58,53%,39%,10,10

In [85]:
df['Team_1'].value_counts()

PGE Skra Bełchatów                                    224
Asseco Resovia Rzeszów                                201
Jastrzębski Węgiel                                    188
ZAKSA Kędzierzyn-Koźle                                181
Indykpol AZS Olsztyn                                  160
Cuprum Lubin                                          115
Cerrad Czarni Radom                                    92
GKS Katowice                                           86
Trefl Gdańsk                                           86
BBTS Bielsko-Biała                                     85
AZS Politechnika Warszawska                            85
Effector Kielce                                        73
MKS Będzin                                             73
Delecta Bydgoszcz                                      70
LOTOS Trefl Gdańsk                                     58
AZS Częstochowa                                        57
Grupa Azoty ZAKSA Kędzierzyn-Koźle                     47
Łuczniczka Bydgoszcz                                   46
Aluron CMC Warta Zawiercie                             45
Ślepsk Malow Suwałki                                   41
Cerrad Enea Czarni Radom                               39
Aluron Virtu Warta Zawiercie                           32
ONICO Warszawa                                         31
Transfer Bydgoszcz                                     29
Tytan AZS Częstochowa                                  29
PSG Stal Nysa                                          29
Fart Kielce                                            28
Projekt Warszawa                                       27
LUK  Lublin                                            27
Domex Tytan AZS Częstochowa                            26
AZS UWM Olsztyn                                        25
Jadar Radom                                            24
Lotos Trefl Gdańsk                                     23
JASTRZĘBSKI WĘGIEL                                     18
Asseco Resovia                                         18
MKS BANIMEX BĘDZIN                                     17
VERVA Warszawa ORLEN Paliwa                            16
Pamapol Wielton Wieluń                                 16
Stocznia Szczecin                                      16
Espadon Szczecin                                       16
ONICO AZS Politechnika Warszawska                      16
Dafi Społem Kielce                                     15
KS Jastrzębski Węgiel S.A.                             14
Indykpol AZS UWM Olsztyn                               14
Stal Nysa                                              13
Barkom Każany Lwów                                     13
Chemik Bydgoszcz                                       13
J.W.Construction OSRAM AZS Politechnika Warszawska     12
Neckermann AZS Politechnika Warszawska                 12
Pamapol Siatkarz Wieluń                                11
Wkręt-met AZS Częstochowa                              10
Name: Team_1, dtype: int64

In [86]:
def replace_similar(data, current, new):
    data.loc[df['Team_1'].str.contains(current), 'Team_1'] = new
    data.loc[df['Team_2'].str.contains(current), 'Team_2'] = new

In [87]:
mappings = {'AZS Politechnika Warszawska':'Projekt Warszawa', 'ZAKSA Kędzierzyn-Koźle':'ZAKSA Kędzierzyn-Koźle', 'AZS Częstochowa':'AZS Częstochowa', 'Olsztyn':'AZS Olsztyn', 'Asseco Resovia Rzeszów':'Asseco Resovia', 'JASTRZĘBSKI WĘGIEL':'Jastrzębski Węgiel', 'Jastrzębski Węgiel':'Jastrzębski Węgiel', 'Czarni Radom':'Czarni Radom', 'Trefl Gdańsk':'Trefl Gdańsk', 'Warszawa':'Projekt Warszawa', 'Bydgoszcz':'Chemik Bydgoszcz', 'Kielce':'Społem Kielce', 'Zawiercie':'Warta Zawiercie', 'Szczecin':'Stocznia Szczecin', 'Wieluń':'Pamapol Wielton Wieluń', 'Nysa':'Stal Nysa', 'MKS BANIMEX BĘDZIN':'MKS Będzin'}

for current_name, new_name in mappings.items():
    replace_similar(df, current_name, new_name)

In [88]:
df.loc[df['Team_1'].str.contains('Gdańsk'), 'Team_1']

6       Trefl Gdańsk
21      Trefl Gdańsk
36      Trefl Gdańsk
51      Trefl Gdańsk
66      Trefl Gdańsk
            ...
2452    Trefl Gdańsk
2472    Trefl Gdańsk
2482    Trefl Gdańsk
2492    Trefl Gdańsk
2502    Trefl Gdańsk
Name: Team_1, Length: 167, dtype: object

In [89]:
df.drop(df[df['Team_1'] == 'Team_1'].index, inplace=True)

In [90]:
df['Team_1'].value_counts()

ZAKSA Kędzierzyn-Koźle    228
PGE Skra Bełchatów        224
Jastrzębski Węgiel        220
Asseco Resovia            219
AZS Olsztyn               199
Projekt Warszawa          199
Trefl Gdańsk              167
Chemik Bydgoszcz          158
Czarni Radom              131
AZS Częstochowa           122
Społem Kielce             116
Cuprum Lubin              115
MKS Będzin                 90
GKS Katowice               86
BBTS Bielsko-Biała         85
Warta Zawiercie            77
Stal Nysa                  42
Ślepsk Malow Suwałki       41
Stocznia Szczecin          32
LUK  Lublin                27
Pamapol Wielton Wieluń     27
Jadar Radom                24
Barkom Każany Lwów         13
Name: Team_1, dtype: int64

In [91]:
len(df['Team_1'].value_counts())

23

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2642 entries, 0 to 2641
Data columns (total 43 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              2642 non-null   object
 1   Team_1            2642 non-null   object
 2   Team_2            2642 non-null   object
 3   T1_Score          2642 non-null   int64
 4   T2_Score          2642 non-null   int64
 5   T1_Sum            2640 non-null   float64
 6   T1_BP             2640 non-null   float64
 7   T1_Ratio          2640 non-null   float64
 8   T1_Srv_Sum        2640 non-null   float64
 9   T1_Srv_Err        2640 non-null   object
 10  T1_Srv_Ace        2640 non-null   float64
 11  T1_Srv_Eff        2642 non-null   object
 12  T1_Rec_Sum        2640 non-null   float64
 13  T1_Rec_Err        2640 non-null   float64
 14  T1_Rec_Pos        2642 non-null   object
 15  T1_Rec_Perf       2642 non-null   object
 16  T1_Att_Sum        2640 non-null   object
 17  T1_Att_Err        2640 non-null   float64
 18  T1_Att_Blk        2640 non-null   float64
 19  T1_Att_Kill       2640 non-null   float64
 20  T1_Att_Kill_Perc  2642 non-null   object
 21  T1_Att_Eff        2642 non-null   object
 22  T1_Blk_Sum        2640 non-null   float64
 23  T1_Blk_As         2640 non-null   object
 24  T2_Sum            2642 non-null   int64
 25  T2_BP             2642 non-null   int64
 26  T2_Ratio          2642 non-null   int64
 27  T2_Srv_Sum        2642 non-null   int64
 28  T2_Srv_Err        2642 non-null   object
 29  T2_Srv_Ace        2642 non-null   int64
 30  T2_Srv_Eff        2642 non-null   object
 31  T2_Rec_Sum        2642 non-null   int64
 32  T2_Rec_Err        2642 non-null   int64
 33  T2_Rec_Pos        2642 non-null   object
 34  T2_Rec_Perf       2642 non-null   object
 35  T2_Att_Sum        2642 non-null   object
 36  T2_Att_Err        2642 non-null   int64
 37  T2_Att_Blk        2642 non-null   int64
 38  T2_Att_Kill       2642 non-null   int64
 39  T2_Att_Kill_Perc  2642 non-null   object
 40  T2_Att_Eff        2642 non-null   object
 41  T2_Blk_Sum        2642 non-null   int64
 42  T2_Blk_As         2642 non-null   object
dtypes: float64(11), int64(13), object(19)
memory usage: 887.7+ KB

In [93]:
df.isna().sum().sum()

28

In [94]:
df[df.isna().any(axis=1)] # Those rows didn't have full data on the plusLiga's website

,Date,Team_1,Team_2,T1_Score,T2_Score,T1_Sum,T1_BP,T1_Ratio,T1_Srv_Sum,T1_Srv_Err,...,T2_Rec_Pos,T2_Rec_Perf,T2_Att_Sum,T2_Att_Err,T2_Att_Blk,T2_Att_Kill,T2_Att_Kill_Perc,T2_Att_Eff,T2_Blk_Sum,T2_Blk_As
237,"20.05.2022, 17:30",MKS Będzin,Stal Nysa,0,3,NaN,NaN,NaN,NaN,NaN,...,47%,22%,142,11,17,68,47%,28%,17,17
239,"26.05.2022, 20:30",MKS Będzin,Stal Nysa,2,3,NaN,NaN,NaN,NaN,NaN,...,45%,13%,241,22,19,100,41%,24%,19,30

In [95]:
df.dropna(inplace=True)

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2640 entries, 0 to 2641
Data columns (total 43 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              2640 non-null   object
 1   Team_1            2640 non-null   object
 2   Team_2            2640 non-null   object
 3   T1_Score          2640 non-null   int64
 4   T2_Score          2640 non-null   int64
 5   T1_Sum            2640 non-null   float64
 6   T1_BP             2640 non-null   float64
 7   T1_Ratio          2640 non-null   float64
 8   T1_Srv_Sum        2640 non-null   float64
 9   T1_Srv_Err        2640 non-null   object
 10  T1_Srv_Ace        2640 non-null   float64
 11  T1_Srv_Eff        2640 non-null   object
 12  T1_Rec_Sum        2640 non-null   float64
 13  T1_Rec_Err        2640 non-null   float64
 14  T1_Rec_Pos        2640 non-null   object
 15  T1_Rec_Perf       2640 non-null   object
 16  T1_Att_Sum        2640 non-null   object
 17  T1_Att_Err        2640 non-null   float64
 18  T1_Att_Blk        2640 non-null   float64
 19  T1_Att_Kill       2640 non-null   float64
 20  T1_Att_Kill_Perc  2640 non-null   object
 21  T1_Att_Eff        2640 non-null   object
 22  T1_Blk_Sum        2640 non-null   float64
 23  T1_Blk_As         2640 non-null   object
 24  T2_Sum            2640 non-null   int64
 25  T2_BP             2640 non-null   int64
 26  T2_Ratio          2640 non-null   int64
 27  T2_Srv_Sum        2640 non-null   int64
 28  T2_Srv_Err        2640 non-null   object
 29  T2_Srv_Ace        2640 non-null   int64
 30  T2_Srv_Eff        2640 non-null   object
 31  T2_Rec_Sum        2640 non-null   int64
 32  T2_Rec_Err        2640 non-null   int64
 33  T2_Rec_Pos        2640 non-null   object
 34  T2_Rec_Perf       2640 non-null   object
 35  T2_Att_Sum        2640 non-null   object
 36  T2_Att_Err        2640 non-null   int64
 37  T2_Att_Blk        2640 non-null   int64
 38  T2_Att_Kill       2640 non-null   int64
 39  T2_Att_Kill_Perc  2640 non-null   object
 40  T2_Att_Eff        2640 non-null   object
 41  T2_Blk_Sum        2640 non-null   int64
 42  T2_Blk_As         2640 non-null   object
dtypes: float64(11), int64(13), object(19)
memory usage: 907.5+ KB

In [97]:
df.head()

,Date,Team_1,Team_2,T1_Score,T2_Score,T1_Sum,T1_BP,T1_Ratio,T1_Srv_Sum,T1_Srv_Err,...,T2_Rec_Pos,T2_Rec_Perf,T2_Att_Sum,T2_Att_Err,T2_Att_Blk,T2_Att_Kill,T2_Att_Kill_Perc,T2_Att_Eff,T2_Blk_Sum,T2_Blk_As
0,"01.10.2022, 14:45",AZS Olsztyn,ZAKSA Kędzierzyn-Koźle,1,3,60.0,17.0,11.0,79.0,18,...,45%,26%,88,7,7,45,51%,35%,14,11
1,"30.09.2022, 17:30",Jastrzębski Węgiel,GKS Katowice,3,0,51.0,17.0,27.0,77.0,15,...,50%,20%,91,8,4,43,47%,34%,1,17
2,"01.10.2022, 20:30",LUK Lublin,Czarni Radom,2,3,76.0,23.0,35.0,109.0,16,...,47%,18%,128,10,10,63,49%,33%,10,13
3,"02.10.2022, 14:45",Warta Zawiercie,PGE Skra Bełchatów,3,2,66.0,16.0,22.0,98.0,21,...,32%,9%,102,9,9,56,54%,37%,7,14
4,"03.10.2022, 17:30",BBTS Bielsko-Biała,Cuprum Lubin,1,3,63.0,22.0,17.0,100.0,19,...,45%,22%,109,7,8,58,53%,39%,10,10

In [98]:
#df['Date'] = pd.to_datetime(df['Date'])

In [99]:
#df.head()

In [100]:
df.dtypes

Date                 object
Team_1               object
Team_2               object
T1_Score              int64
T2_Score              int64
T1_Sum              float64
T1_BP               float64
T1_Ratio            float64
T1_Srv_Sum          float64
T1_Srv_Err           object
T1_Srv_Ace          float64
T1_Srv_Eff           object
T1_Rec_Sum          float64
T1_Rec_Err          float64
T1_Rec_Pos           object
T1_Rec_Perf          object
T1_Att_Sum           object
T1_Att_Err          float64
T1_Att_Blk          float64
T1_Att_Kill         float64
T1_Att_Kill_Perc     object
T1_Att_Eff           object
T1_Blk_Sum          float64
T1_Blk_As            object
T2_Sum                int64
T2_BP                 int64
T2_Ratio              int64
T2_Srv_Sum            int64
T2_Srv_Err           object
T2_Srv_Ace            int64
T2_Srv_Eff           object
T2_Rec_Sum            int64
T2_Rec_Err            int64
T2_Rec_Pos           object
T2_Rec_Perf          object
T2_Att_Sum           object
T2_Att_Err            int64
T2_Att_Blk            int64
T2_Att_Kill           int64
T2_Att_Kill_Perc     object
T2_Att_Eff           object
T2_Blk_Sum            int64
T2_Blk_As            object
dtype: object

In [101]:
df['Winner'] = df.apply(lambda row: 0 if row.T1_Score > row['T2_Score'] else 1, axis=1)

In [102]:
df.head()

,Date,Team_1,Team_2,T1_Score,T2_Score,T1_Sum,T1_BP,T1_Ratio,T1_Srv_Sum,T1_Srv_Err,...,T2_Rec_Perf,T2_Att_Sum,T2_Att_Err,T2_Att_Blk,T2_Att_Kill,T2_Att_Kill_Perc,T2_Att_Eff,T2_Blk_Sum,T2_Blk_As,Winner
0,"01.10.2022, 14:45",AZS Olsztyn,ZAKSA Kędzierzyn-Koźle,1,3,60.0,17.0,11.0,79.0,18,...,26%,88,7,7,45,51%,35%,14,11,1
1,"30.09.2022, 17:30",Jastrzębski Węgiel,GKS Katowice,3,0,51.0,17.0,27.0,77.0,15,...,20%,91,8,4,43,47%,34%,1,17,0
2,"01.10.2022, 20:30",LUK Lublin,Czarni Radom,2,3,76.0,23.0,35.0,109.0,16,...,18%,128,10,10,63,49%,33%,10,13,1
3,"02.10.2022, 14:45",Warta Zawiercie,PGE Skra Bełchatów,3,2,66.0,16.0,22.0,98.0,21,...,9%,102,9,9,56,54%,37%,7,14,0
4,"03.10.2022, 17:30",BBTS Bielsko-Biała,Cuprum Lubin,1,3,63.0,22.0,17.0,100.0,19,...,22%,109,7,8,58,53%,39%,10,10,1

In [103]:
df.to_csv('Mens-Volleyball-PlusLiga-2008-2023.csv', index=False)