In [271]:
import pandas as pd

In [272]:
df = pd.read_csv('../data/processed/Mens-Volleyball-PlusLiga-2008-2023.csv')

In [273]:
df.head()

,Date,Team_1,Team_2,T1_Score,T2_Score,T1_Sum,T1_BP,T1_Ratio,T1_Srv_Sum,T1_Srv_Err,...,T2_Rec_Perf,T2_Att_Sum,T2_Att_Err,T2_Att_Blk,T2_Att_Kill,T2_Att_Kill_Perc,T2_Att_Eff,T2_Blk_Sum,T2_Blk_As,Winner
0,"01.10.2022, 14:45",AZS Olsztyn,ZAKSA Kędzierzyn-Koźle,1,3,60.0,17.0,11.0,79.0,18,...,26%,88,7,7,45,51%,35%,14,11,1
1,"30.09.2022, 17:30",Jastrzębski Węgiel,GKS Katowice,3,0,51.0,17.0,27.0,77.0,15,...,20%,91,8,4,43,47%,34%,1,17,0
2,"01.10.2022, 20:30",LUK Lublin,Czarni Radom,2,3,76.0,23.0,35.0,109.0,16,...,18%,128,10,10,63,49%,33%,10,13,1
3,"02.10.2022, 14:45",Warta Zawiercie,PGE Skra Bełchatów,3,2,66.0,16.0,22.0,98.0,21,...,9%,102,9,9,56,54%,37%,7,14,0
4,"03.10.2022, 17:30",BBTS Bielsko-Biała,Cuprum Lubin,1,3,63.0,22.0,17.0,100.0,19,...,22%,109,7,8,58,53%,39%,10,10,1

In [274]:
df.dtypes

Date                 object
Team_1               object
Team_2               object
T1_Score              int64
T2_Score              int64
T1_Sum              float64
T1_BP               float64
T1_Ratio            float64
T1_Srv_Sum          float64
T1_Srv_Err           object
T1_Srv_Ace          float64
T1_Srv_Eff           object
T1_Rec_Sum          float64
T1_Rec_Err          float64
T1_Rec_Pos           object
T1_Rec_Perf          object
T1_Att_Sum           object
T1_Att_Err          float64
T1_Att_Blk          float64
T1_Att_Kill         float64
T1_Att_Kill_Perc     object
T1_Att_Eff           object
T1_Blk_Sum          float64
T1_Blk_As            object
T2_Sum                int64
T2_BP                 int64
T2_Ratio              int64
T2_Srv_Sum            int64
T2_Srv_Err           object
T2_Srv_Ace            int64
T2_Srv_Eff           object
T2_Rec_Sum            int64
T2_Rec_Err            int64
T2_Rec_Pos           object
T2_Rec_Perf          object
T2_Att_Sum           object
T2_Att_Err            int64
T2_Att_Blk            int64
T2_Att_Kill           int64
T2_Att_Kill_Perc     object
T2_Att_Eff           object
T2_Blk_Sum            int64
T2_Blk_As            object
Winner                int64
dtype: object

In [275]:
df['Date'] = pd.to_datetime(df['Date'], format='%d.%m.%Y, %H:%M')

In [276]:
# Take care of the percentages
perc_cols = ['T1_Srv_Eff', 'T1_Rec_Pos', 'T1_Rec_Perf', 'T1_Att_Kill_Perc', 'T1_Att_Eff', 'T1_Att_Sum', 'T2_Srv_Eff', 'T2_Rec_Pos', 'T2_Rec_Perf', 'T2_Att_Kill_Perc', 'T2_Att_Eff', 'T2_Att_Sum']
for col in perc_cols:
    df[col] = pd.to_numeric(df[col].str.replace('%', ''))

In [277]:
# Some values use ',' instead of '.' when representing a float
float_cols = ['T1_Srv_Err', 'T1_Blk_As', 'T2_Srv_Err', 'T2_Blk_As']
for col in float_cols:
    df[col] = pd.to_numeric(df[col].str.replace(',', '.'))

In [278]:
df.dtypes

Date                datetime64[ns]
Team_1                      object
Team_2                      object
T1_Score                     int64
T2_Score                     int64
T1_Sum                     float64
T1_BP                      float64
T1_Ratio                   float64
T1_Srv_Sum                 float64
T1_Srv_Err                 float64
T1_Srv_Ace                 float64
T1_Srv_Eff                   int64
T1_Rec_Sum                 float64
T1_Rec_Err                 float64
T1_Rec_Pos                   int64
T1_Rec_Perf                  int64
T1_Att_Sum                   int64
T1_Att_Err                 float64
T1_Att_Blk                 float64
T1_Att_Kill                float64
T1_Att_Kill_Perc             int64
T1_Att_Eff                   int64
T1_Blk_Sum                 float64
T1_Blk_As                  float64
T2_Sum                       int64
T2_BP                        int64
T2_Ratio                     int64
T2_Srv_Sum                   int64
T2_Srv_Err                 float64
T2_Srv_Ace                   int64
T2_Srv_Eff                   int64
T2_Rec_Sum                   int64
T2_Rec_Err                   int64
T2_Rec_Pos                   int64
T2_Rec_Perf                  int64
T2_Att_Sum                   int64
T2_Att_Err                   int64
T2_Att_Blk                   int64
T2_Att_Kill                  int64
T2_Att_Kill_Perc             int64
T2_Att_Eff                   int64
T2_Blk_Sum                   int64
T2_Blk_As                  float64
Winner                       int64
dtype: object

In [279]:
df.sort_values('Date', ascending=True, inplace=True)
df.reset_index(inplace=True, drop=True)
df.head()

,Date,Team_1,Team_2,T1_Score,T2_Score,T1_Sum,T1_BP,T1_Ratio,T1_Srv_Sum,T1_Srv_Err,...,T2_Rec_Perf,T2_Att_Sum,T2_Att_Err,T2_Att_Blk,T2_Att_Kill,T2_Att_Kill_Perc,T2_Att_Eff,T2_Blk_Sum,T2_Blk_As,Winner
0,2008-10-10 18:00:00,AZS Olsztyn,Jadar Radom,3,0,55.0,74.0,2.0,10.0,0.67,...,17,27,74,4,9,37,50,6,2.0,0
1,2008-10-11 15:00:00,Asseco Resovia,ZAKSA Kędzierzyn-Koźle,2,3,75.0,106.0,7.0,11.0,1.40,...,33,33,143,15,13,57,40,7,1.4,1
2,2008-10-11 17:00:00,Jastrzębski Węgiel,Chemik Bydgoszcz,3,1,86.0,111.0,9.0,19.0,2.25,...,32,34,102,5,14,48,47,4,1.0,0
3,2008-10-12 15:00:00,Trefl Gdańsk,PGE Skra Bełchatów,1,3,62.0,90.0,3.0,12.0,0.75,...,31,39,107,8,6,62,58,10,2.5,1
4,2008-10-13 18:00:00,AZS Częstochowa,Projekt Warszawa,2,3,66.0,103.0,2.0,19.0,0.40,...,31,36,124,11,11,57,46,16,3.2,1

In [280]:
len(df)

2639

In [281]:
# Matches should have between 3 and 5 sets
df['sets'] = df['T1_Score'] + df['T2_Score']
df[(df['sets'] < 3) | (df['sets'] > 5)]

Empty DataFrame
Columns: [Date, Team_1, Team_2, T1_Score, T2_Score, T1_Sum, T1_BP, T1_Ratio, T1_Srv_Sum, T1_Srv_Err, T1_Srv_Ace, T1_Srv_Eff, T1_Rec_Sum, T1_Rec_Err, T1_Rec_Pos, T1_Rec_Perf, T1_Att_Sum, T1_Att_Err, T1_Att_Blk, T1_Att_Kill, T1_Att_Kill_Perc, T1_Att_Eff, T1_Blk_Sum, T1_Blk_As, T2_Sum, T2_BP, T2_Ratio, T2_Srv_Sum, T2_Srv_Err, T2_Srv_Ace, T2_Srv_Eff, T2_Rec_Sum, T2_Rec_Err, T2_Rec_Pos, T2_Rec_Perf, T2_Att_Sum, T2_Att_Err, T2_Att_Blk, T2_Att_Kill, T2_Att_Kill_Perc, T2_Att_Eff, T2_Blk_Sum, T2_Blk_As, Winner, sets]
Index: []

[0 rows x 45 columns]

In [282]:
# Make averages per set (The longer the game goes, the sum of different statistics is larger)
set_divisible_cols = ['T1_Sum', 'T1_BP', 'T1_Srv_Sum', 'T1_Srv_Err', 'T1_Srv_Ace', 'T1_Rec_Sum', 'T1_Rec_Err', 'T1_Att_Sum', 'T1_Att_Err', 'T1_Att_Blk', 'T1_Att_Kill', 'T1_Blk_Sum', 'T1_Blk_As',
                      'T2_Sum', 'T2_BP', 'T2_Srv_Sum', 'T2_Srv_Err', 'T2_Srv_Ace', 'T2_Rec_Sum', 'T2_Rec_Err', 'T2_Att_Sum', 'T2_Att_Err', 'T2_Att_Blk', 'T2_Att_Kill', 'T2_Blk_Sum', 'T2_Blk_As']
set_divisible_new_cols = [f'{c}_SAvg' for c in set_divisible_cols]
df[set_divisible_new_cols] = df[set_divisible_cols].div(df['sets'], axis=0)

In [283]:
# Separate team 1 and team 2
t1_df = pd.concat([df[['Date','Team_1', 'T1_Score']], df.loc[:, 'T1_Sum': 'T1_Blk_As'], df.loc[:, 'T1_Sum_SAvg':'T1_Blk_As_SAvg']], axis=1)
t2_df = pd.concat([df[['Date','Team_2', 'T2_Score']], df.loc[:, 'T2_Sum': 'T2_Blk_As'], df.loc[:, 'T2_Sum_SAvg':'T2_Blk_As_SAvg']], axis=1)
t1_df['Opponent'] = df['Team_2']
t2_df['Opponent'] = df['Team_1']

In [284]:
new_col_names = {x: y for x, y in zip(t2_df.columns, t1_df.columns)}
team_perf_df = pd.concat([t1_df, t2_df.rename(columns=new_col_names)])
team_perf_df.columns = team_perf_df.columns.str.replace('T1_', '')

In [285]:
team_perf_df.sort_values('Date', ascending=False)

,Date,Team_1,Score,Sum,BP,Ratio,Srv_Sum,Srv_Err,Srv_Ace,Srv_Eff,...,Srv_Ace_SAvg,Rec_Sum_SAvg,Rec_Err_SAvg,Att_Sum_SAvg,Att_Err_SAvg,Att_Blk_SAvg,Att_Kill_SAvg,Blk_Sum_SAvg,Blk_As_SAvg,Opponent
2638,2023-03-05 14:45:00,Projekt Warszawa,3,71.0,30.0,37.0,97.0,20.00,8.0,-10,...,2.000000,16.250000,1.500000,21.000000,1.750000,1.000000,11.75,4.00,1.500000,LUK Lublin
2638,2023-03-05 14:45:00,LUK Lublin,1,51.0,17.0,17.0,81.0,16.00,6.0,-8,...,1.500000,19.250000,2.000000,26.750000,2.250000,4.000000,10.25,1.00,2.500000,Projekt Warszawa
2637,2023-03-04 20:30:00,ZAKSA Kędzierzyn-Koźle,3,63.0,27.0,33.0,97.0,16.00,7.0,-3,...,1.750000,16.250000,2.250000,21.000000,1.250000,1.500000,10.75,3.25,2.000000,Cuprum Lubin
2637,2023-03-04 20:30:00,Cuprum Lubin,1,63.0,19.0,25.0,88.0,23.00,9.0,-15,...,2.250000,20.250000,1.750000,24.000000,1.750000,3.250000,12.00,1.50,2.500000,ZAKSA Kędzierzyn-Koźle
2636,2023-03-04 17:30:00,Jastrzębski Węgiel,3,74.0,31.0,48.0,96.0,17.00,9.0,-2,...,2.250000,14.250000,1.750000,19.250000,0.250000,1.000000,14.50,1.75,1.000000,Ślepsk Malow Suwałki
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,2008-10-11 17:00:00,Chemik Bydgoszcz,1,64.0,97.0,12.0,18.0,3.00,92.0,9,...,23.000000,8.250000,10.500000,8.500000,25.500000,1.250000,3.50,1.00,0.250000,Jastrzębski Węgiel
1,2008-10-11 15:00:00,ZAKSA Kędzierzyn-Koźle,3,70.0,98.0,6.0,14.0,1.20,98.0,8,...,19.600000,5.200000,12.800000,6.600000,28.600000,3.000000,2.60,1.40,0.280000,Asseco Resovia
1,2008-10-11 15:00:00,Asseco Resovia,2,75.0,106.0,7.0,11.0,1.40,83.0,5,...,16.600000,6.000000,9.600000,7.800000,26.200000,2.400000,1.40,2.60,0.520000,ZAKSA Kędzierzyn-Koźle
0,2008-10-10 18:00:00,AZS Olsztyn,3,55.0,74.0,2.0,10.0,0.67,60.0,6,...,20.000000,4.666667,13.333333,10.333333,27.000000,2.000000,2.00,3.00,1.000000,Jadar Radom
0,2008-10-10 18:00:00,Jadar Radom,0,49.0,71.0,6.0,11.0,2.00,62.0,2,...,20.666667,8.000000,12.000000,9.000000,24.666667,1.333333,3.00,2.00,0.666667,AZS Olsztyn

In [286]:
def rolling_average(group, cols, new_cols):
    group = group.sort_values('Date')
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [287]:
roll_col_names = list(team_perf_df.columns)[2:-1]
roll_new_col_names = [f'{c}_rolling' for c in roll_col_names]

In [288]:
matches_rolling = team_perf_df.groupby('Team_1').apply(lambda x: rolling_average(x, roll_col_names, roll_new_col_names))
matches_rolling = matches_rolling.droplevel('Team_1')

In [289]:
matches_rolling.sort_values('Date', ascending=False).head()

,Date,Team_1,Score,Sum,BP,Ratio,Srv_Sum,Srv_Err,Srv_Ace,Srv_Eff,...,Srv_Err_SAvg_rolling,Srv_Ace_SAvg_rolling,Rec_Sum_SAvg_rolling,Rec_Err_SAvg_rolling,Att_Sum_SAvg_rolling,Att_Err_SAvg_rolling,Att_Blk_SAvg_rolling,Att_Kill_SAvg_rolling,Blk_Sum_SAvg_rolling,Blk_As_SAvg_rolling
2638,2023-03-05 14:45:00,Projekt Warszawa,3,71.0,30.0,37.0,97.0,20.0,8.0,-10,...,4.083333,1.333333,17.083333,1.916667,23.500000,1.500000,1.583333,13.083333,2.666667,3.000000
2638,2023-03-05 14:45:00,LUK Lublin,1,51.0,17.0,17.0,81.0,16.0,6.0,-8,...,4.277778,1.055556,20.222222,1.833333,25.388889,1.694444,2.250000,12.055556,1.416667,2.388889
2637,2023-03-04 20:30:00,ZAKSA Kędzierzyn-Koźle,3,63.0,27.0,33.0,97.0,16.0,7.0,-3,...,3.500000,2.000000,18.250000,1.305556,27.750000,2.916667,2.694444,12.833333,2.305556,2.750000
2637,2023-03-04 20:30:00,Cuprum Lubin,1,63.0,19.0,25.0,88.0,23.0,9.0,-15,...,4.844444,0.977778,18.288889,1.422222,23.977778,2.400000,2.533333,12.022222,1.688889,2.488889
2636,2023-03-04 17:30:00,Ślepsk Malow Suwałki,1,51.0,12.0,20.0,71.0,14.0,7.0,-7,...,3.688889,2.000000,16.777778,1.355556,22.577778,0.911111,1.777778,12.777778,2.288889,2.022222

In [292]:
matches_rolling[~matches_rolling.index.duplicated(keep='first')].sort_values('Date', ascending=False)

,Date,Team_1,Score,Sum,BP,Ratio,Srv_Sum,Srv_Err,Srv_Ace,Srv_Eff,...,Srv_Err_SAvg_rolling,Srv_Ace_SAvg_rolling,Rec_Sum_SAvg_rolling,Rec_Err_SAvg_rolling,Att_Sum_SAvg_rolling,Att_Err_SAvg_rolling,Att_Blk_SAvg_rolling,Att_Kill_SAvg_rolling,Blk_Sum_SAvg_rolling,Blk_As_SAvg_rolling
2638,2023-03-05 14:45:00,LUK Lublin,1,51.0,17.0,17.0,81.0,16.00,6.0,-8,...,4.277778,1.055556,20.222222,1.833333,25.388889,1.694444,2.250000,12.055556,1.416667,2.388889
2637,2023-03-04 20:30:00,Cuprum Lubin,1,63.0,19.0,25.0,88.0,23.00,9.0,-15,...,4.844444,0.977778,18.288889,1.422222,23.977778,2.400000,2.533333,12.022222,1.688889,2.488889
2636,2023-03-04 17:30:00,Jastrzębski Węgiel,3,74.0,31.0,48.0,96.0,17.00,9.0,-2,...,4.055556,2.083333,15.694444,0.833333,24.305556,1.583333,2.138889,13.250000,2.166667,2.916667
2635,2023-03-04 14:45:00,Asseco Resovia,0,40.0,9.0,6.0,59.0,19.00,3.0,-25,...,5.833333,1.250000,18.666667,1.250000,26.916667,1.916667,2.000000,14.250000,2.416667,3.000000
2634,2023-03-03 17:30:00,AZS Olsztyn,3,55.0,24.0,33.0,73.0,14.00,6.0,-4,...,5.305556,1.805556,20.305556,1.388889,26.111111,2.083333,2.555556,12.111111,1.472222,2.611111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,2008-11-09 15:00:00,Jastrzębski Węgiel,3,72.0,93.0,5.0,14.0,1.00,81.0,7,...,0.441944,17.250000,3.794444,9.100000,10.744444,24.322222,2.122222,1.577778,2.833333,0.758333
18,2008-11-08 17:00:00,AZS Częstochowa,0,47.0,59.0,5.0,9.0,1.67,69.0,6,...,0.156667,18.644444,4.155556,9.333333,6.688889,25.800000,2.133333,2.644444,2.000000,0.444444
15,2008-11-07 18:00:00,Asseco Resovia,3,53.0,79.0,6.0,10.0,2.00,54.0,3,...,0.537778,15.755556,4.777778,9.977778,13.377778,26.288889,1.688889,2.244444,2.311111,0.655556
16,2008-11-07 18:00:00,Chemik Bydgoszcz,2,69.0,103.0,8.0,16.0,1.60,86.0,5,...,0.444444,21.750000,5.833333,11.638889,11.083333,25.111111,2.805556,2.361111,2.638889,0.734167
17,2008-11-07 18:00:00,Jadar Radom,1,64.0,97.0,0.0,17.0,0.00,93.0,4,...,0.407778,20.777778,5.555556,12.666667,11.444444,26.777778,2.222222,2.888889,2.333333,0.777778

In [293]:
matches_rolling[~matches_rolling.index.duplicated(keep='last')].sort_values('Date', ascending=False)

,Date,Team_1,Score,Sum,BP,Ratio,Srv_Sum,Srv_Err,Srv_Ace,Srv_Eff,...,Srv_Err_SAvg_rolling,Srv_Ace_SAvg_rolling,Rec_Sum_SAvg_rolling,Rec_Err_SAvg_rolling,Att_Sum_SAvg_rolling,Att_Err_SAvg_rolling,Att_Blk_SAvg_rolling,Att_Kill_SAvg_rolling,Blk_Sum_SAvg_rolling,Blk_As_SAvg_rolling
2638,2023-03-05 14:45:00,Projekt Warszawa,3,71.0,30.0,37.0,97.0,20.0,8.0,-10,...,4.083333,1.333333,17.083333,1.916667,23.500000,1.500000,1.583333,13.083333,2.666667,3.000000
2637,2023-03-04 20:30:00,ZAKSA Kędzierzyn-Koźle,3,63.0,27.0,33.0,97.0,16.0,7.0,-3,...,3.500000,2.000000,18.250000,1.305556,27.750000,2.916667,2.694444,12.833333,2.305556,2.750000
2636,2023-03-04 17:30:00,Ślepsk Malow Suwałki,1,51.0,12.0,20.0,71.0,14.0,7.0,-7,...,3.688889,2.000000,16.777778,1.355556,22.577778,0.911111,1.777778,12.777778,2.288889,2.022222
2635,2023-03-04 14:45:00,Warta Zawiercie,3,50.0,23.0,30.0,73.0,13.0,10.0,-2,...,4.077778,1.977778,14.061111,1.222222,23.011111,1.244444,1.555556,12.333333,2.255556,3.111111
2634,2023-03-03 17:30:00,Barkom Każany Lwów,0,36.0,10.0,13.0,58.0,10.0,3.0,-10,...,3.222222,1.333333,20.777778,2.888889,22.777778,2.000000,2.222222,9.777778,2.111111,1.555556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,2008-11-09 15:00:00,PGE Skra Bełchatów,2,67.0,95.0,7.0,14.0,1.4,94.0,6,...,0.696389,17.277778,4.888889,9.694444,8.750000,25.361111,2.194444,1.777778,2.694444,0.765833
18,2008-11-08 17:00:00,AZS Olsztyn,3,58.0,74.0,6.0,5.0,2.0,50.0,5,...,0.345278,19.666667,6.138889,11.611111,7.277778,27.583333,2.416667,2.000000,2.583333,0.729167
15,2008-11-07 18:00:00,Projekt Warszawa,0,50.0,73.0,3.0,19.0,1.0,69.0,6,...,0.224167,19.450000,6.050000,10.166667,6.166667,27.250000,2.583333,2.383333,2.183333,0.465833
16,2008-11-07 18:00:00,Trefl Gdańsk,3,77.0,102.0,5.0,14.0,1.0,86.0,8,...,0.231667,18.116667,3.550000,10.400000,7.916667,26.483333,2.016667,2.933333,1.550000,0.364167
17,2008-11-07 18:00:00,ZAKSA Kędzierzyn-Koźle,3,74.0,106.0,4.0,13.0,1.0,80.0,0,...,0.350833,18.950000,4.816667,11.850000,8.033333,27.700000,2.333333,2.866667,2.466667,0.593333

In [295]:
merged_df = matches_rolling[~matches_rolling.index.duplicated(keep='first')].join(matches_rolling[~matches_rolling.index.duplicated(keep='last')].loc[:,'Team_1':], lsuffix='_T1', rsuffix='_T2')

In [297]:
merged_df.sort_values('Date', ascending=False)

,Date,Team_1_T1,Score_T1,Sum_T1,BP_T1,Ratio_T1,Srv_Sum_T1,Srv_Err_T1,Srv_Ace_T1,Srv_Eff_T1,...,Srv_Err_SAvg_rolling_T2,Srv_Ace_SAvg_rolling_T2,Rec_Sum_SAvg_rolling_T2,Rec_Err_SAvg_rolling_T2,Att_Sum_SAvg_rolling_T2,Att_Err_SAvg_rolling_T2,Att_Blk_SAvg_rolling_T2,Att_Kill_SAvg_rolling_T2,Blk_Sum_SAvg_rolling_T2,Blk_As_SAvg_rolling_T2
2638,2023-03-05 14:45:00,LUK Lublin,1,51.0,17.0,17.0,81.0,16.00,6.0,-8,...,4.083333,1.333333,17.083333,1.916667,23.500000,1.500000,1.583333,13.083333,2.666667,3.000000
2637,2023-03-04 20:30:00,Cuprum Lubin,1,63.0,19.0,25.0,88.0,23.00,9.0,-15,...,3.500000,2.000000,18.250000,1.305556,27.750000,2.916667,2.694444,12.833333,2.305556,2.750000
2636,2023-03-04 17:30:00,Jastrzębski Węgiel,3,74.0,31.0,48.0,96.0,17.00,9.0,-2,...,3.688889,2.000000,16.777778,1.355556,22.577778,0.911111,1.777778,12.777778,2.288889,2.022222
2635,2023-03-04 14:45:00,Asseco Resovia,0,40.0,9.0,6.0,59.0,19.00,3.0,-25,...,4.077778,1.977778,14.061111,1.222222,23.011111,1.244444,1.555556,12.333333,2.255556,3.111111
2634,2023-03-03 17:30:00,AZS Olsztyn,3,55.0,24.0,33.0,73.0,14.00,6.0,-4,...,3.222222,1.333333,20.777778,2.888889,22.777778,2.000000,2.222222,9.777778,2.111111,1.555556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,2008-11-09 15:00:00,Jastrzębski Węgiel,3,72.0,93.0,5.0,14.0,1.00,81.0,7,...,0.696389,17.277778,4.888889,9.694444,8.750000,25.361111,2.194444,1.777778,2.694444,0.765833
18,2008-11-08 17:00:00,AZS Częstochowa,0,47.0,59.0,5.0,9.0,1.67,69.0,6,...,0.345278,19.666667,6.138889,11.611111,7.277778,27.583333,2.416667,2.000000,2.583333,0.729167
15,2008-11-07 18:00:00,Asseco Resovia,3,53.0,79.0,6.0,10.0,2.00,54.0,3,...,0.224167,19.450000,6.050000,10.166667,6.166667,27.250000,2.583333,2.383333,2.183333,0.465833
16,2008-11-07 18:00:00,Chemik Bydgoszcz,2,69.0,103.0,8.0,16.0,1.60,86.0,5,...,0.231667,18.116667,3.550000,10.400000,7.916667,26.483333,2.016667,2.933333,1.550000,0.364167
17,2008-11-07 18:00:00,Jadar Radom,1,64.0,97.0,0.0,17.0,0.00,93.0,4,...,0.350833,18.950000,4.816667,11.850000,8.033333,27.700000,2.333333,2.866667,2.466667,0.593333

In [298]:
len(matches_rolling)

5209